body {


    background-image: url(" backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    position: relative;
    margin-top: 100px;
}
img {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: 200px;
    width: 400px;
}

.container {
    box-shadow: 5px;
    position: relative;
    text-align: center;
    color: white;
}

.bottom {
    
    font-size: 30px;
    color: black;
    position: absolute;
    top: 250px;
    left: 655px;
    transform: translate(-50px, -50px);

}
.button{
    background:transparent;
    border-radius: 10px;
}
.button:hover{
    border-color: white;
 
}

.in {
    color: black;
    position: absolute;
    top: 300px;
    left: 37%;
    font-size: 20px;


}

.tl {
   color: white;

}
button{
    margin-left: 20px;
    font-size: 20px;

}
.in input{
    font-size:  20px;
}
